* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a,
img {
	border: none;
}

ul,
ol {
	list-style: none;
}

li {
	padding: 5px 0;
}

body {
	background-color: #F2F2F2;
	color: #333;
	font: 14px/1.6 "Microsoft Yahei", Helvetica, Arial, sans-serif;
}

a {
	border-bottom: 1px solid #333;
	color: #333;
	text-decoration: none;
}

a:hover {
	color: #333;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.button {
	padding: 0 15px;
	cursor: pointer;
	margin-right: 15px;
	background: #f6f7fb;
	border: 1px solid #c7ced2;
	border-radius: 2px;
	color: #191d24;
	display: inline-block;
	height: 40px;
	line-height: 40px;
	text-align: center;
	outline: none;
	font-family: "Microsoft Yahei";
}

.button:hover {
	background-color: #f2f2f2;
}

.tpl-wrapper {
	margin-top: 20px;
}

.flex {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
}

.flex1 {
	-prefix-box-flex: 1;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-moz-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.flex2 {
	-prefix-box-flex: 2;
	-webkit-box-flex: 2;
	-webkit-flex: 2;
	-moz-box-flex: 2;
	-ms-flex: 2;
	flex: 2;
}

.flex-c {
	-webkit-box-direction: normal;
	-webkit-box-orient: vertical;
	-moz-flex-direction: column;
	-webkit-flex-direction: column;
	flex-direction: column;
}

.flex-a-c{
	-webkit-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-align-content: flex-start;
	-ms-flex-line-pack: start;
	align-content: center;
}

.flex-j-c {
	-webkit-box-pack: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	justify-content: center;
}

.flex-j-sa {
	-webkit-box-pack: space-around;
	-moz-justify-content: space-around;
	-webkit-justify-content: space-around;
	justify-content: space-around;
}

.flex-j-sb {
	-webkit-box-pack: space-between;
	-moz-justify-content: space-between;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}



.flex-a-i {
	-webkit-box-align: center;
	-moz-align-items: center;
	-webkit-align-items: center;
	align-items: center;
}

body, div, input, ul, li {
    margin: 0;
    padding: 0;
}

ul, li, input, button {
    list-style: none;
    outline: none;
    border: 0;
}